In [1]:
#Data Science - Python_01 
'''
-Various Datatypes in Python
-Variable
-Variables Asignment
-Print Formatting
'''

'\n-Various Datatypes in Python\n-Variable\n-Variables Asignment\n-Print Formatting\n'

## Various DataTypes in Python
- Datatype

In [2]:
1+1

2

In [3]:
10 * "stri"

'stristristristristristristristristristri'

In [4]:
#Check data types

In [5]:
type(True)

bool

In [6]:
type("Hello")

str

# Strings

In [7]:
"Hello"
'Sweekrithi'

'Sweekrithi'

## Variable Assignment

In [8]:
a = 10
type(a)

int

In [9]:
a = "Krishna Naik"
type(a)

str

In [10]:
a = 10
b = 20
print(a*b)
print(a/b)
print(a%b)
print(a*b)
print((a*b)+(a/b))

200
0.5
10
200
200.5

In [11]:
#Various ways of printing

In [12]:
print("Sweekrithi")

Sweekrithi

In [13]:
first_name = 'Sweekrithi'
last_name = 'Shetty'
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Sweekrithi and last name is Shetty

In [14]:
#Order matters
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Sweekrithi and last name is Shetty

In [15]:
len('Sweekrithi')
type(1.0)
type([1,2,3,4])

list

# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

In [16]:
bool()

False

In [17]:
my_str = "Sweekrithi11"

In [18]:
print(my_str.isalnum()) #Check if all characters are numbers
print(my_str.isalpha()) #String contains all alphabheric
print(my_str.isdigit()) #contains digits
print(my_str.istitle()) #contains title words"First letter in capital case"
print(my_str.isupper()) # all are upper case
print(my_str.islower()) #all lower case
print(my_str.isspace()) #Contains space
print(my_str.endswith('i')) #if string endwith i
print(my_str.startswith('S')) #if string endwith k

True
False
False
True
False
False
False
False
True

# Boolean and Logical Operators

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
True or False

True

In [22]:
True or True

True

In [23]:
str_example = "Hello world"
my_str = 'Sweeks'

In [24]:
my_str.isalpha() or str_example.isnum()

True

# List

In [25]:
lst_example = []

In [26]:
type(lst_example)

list

In [27]:
type([])

list

In [28]:
lst = list()

In [29]:
type(lst)

list

In [30]:
lst = ["Maths",13,2,4,5] #Can be of different data type
type(lst)

list

In [31]:
#List functions

In [32]:
#Append

In [33]:
lst.append("Sweeks")

In [34]:
lst

['Maths', 13, 2, 4, 5, 'Sweeks']

In [35]:
#Indexing  the list   
lst[2]
lst[1:6]
lst

['Maths', 13, 2, 4, 5, 'Sweeks']

In [36]:
lst.append(["john","Rita"])

In [37]:
lst

['Maths', 13, 2, 4, 5, 'Sweeks', ['john', 'Rita']]

In [38]:
#To add element at specific index
# Index

In [40]:
lst.insert(2,'Swee')

In [41]:
lst

['Maths', 13, 'Swee', 2, 4, 5, 'Sweeks', ['john', 'Rita']]

# Extend Method

In [45]:
lst = [1,2,3,4,5,6]

In [46]:
lst.extend([8,9])

In [47]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

# Various Operations

In [48]:
lst = [1,2,3,4,5]

In [50]:
#1
sum(lst)

15

In [53]:
#Pop Method #Remove the last element
lst.pop()

4

In [54]:
lst

[1, 2, 3]

In [63]:
#Count() CAlculates the total occurences 
lst = [1,1,3,4,5,6]
lst.count(1)
len(lst)

6

In [65]:
lst.index(1,1,4)

1

In [67]:
min(lst) #Min and Max
max(lst)

6

In [69]:
lst * 2

[1, 1, 3, 4, 5, 6, 1, 1, 3, 4, 5, 6]

# Sets

In [1]:
#Defining an empty set: #Not duplicate elements,Doesn't support indexing
a = set()
print(a)

set()

In [2]:
var = {'a','b','c'}
var

{'a', 'b', 'c'}

In [6]:
#Inbuit functions
var.add('aa')
var

{'a', 'aa', 'b', 'c'}

In [10]:
set1 = {'a','b','c','d'}
set2 = {'a','b','c','d','e'}
set2.difference(set1)
set2

{'a', 'b', 'c', 'd', 'e'}

In [9]:
set2.difference_update(set1) #It will update the set
print(set2)

{'e'}

In [11]:
#Intersections
set1 = {'a','b','c','d'}
set2 = {'a','b','c','d','e'}
set1.intersection(set2)

{'a', 'b', 'c', 'd'}

In [13]:
set1.intersection_update(set2)
set1

{'a', 'b', 'c', 'd'}

In [15]:
#Dictionaries >> It has keys and values
dict = {}
type(dict)

dict

In [16]:
dic = {1,2,3,4,5}
type(dic)

set

In [20]:
#Create a dictionary
my_dicr = {'1':'key','2':'values'}
my_dicr['1'] #Indexing is done via assigning key value.

'key'

In [22]:
#We can loop through out the dictionaries keys
for x in my_dicr:
    print(x)

1
2

In [24]:
#We can loop through out the dictionaries values
for x in my_dicr.values():
    print(x)

key
values

In [25]:
#We can check both keys and values
for x in my_dicr.items():
    print(x)

('1', 'key')
('2', 'values')

In [26]:
#Adding items in dictionary
my_dicr['3'] = 'both'

In [27]:
my_dicr

{'1': 'key', '2': 'values', '3': 'both'}

In [28]:
#Replacing the items
my_dicr['1'] = 'keyyys'

In [29]:
my_dicr

{'1': 'keyyys', '2': 'values', '3': 'both'}

# Nested Dictionaries

In [33]:
key1 = {'name1': 'rita'}
key2 = {'name2': 'reena'}
key3 = {'name2': 'sita'}
nested_key = {'1':key1,'2':key2,'3':key3}
nested_key

{'1': {'name1': 'rita'}, '2': {'name2': 'reena'}, '3': {'name2': 'sita'}}

In [35]:
print(nested_key['1'])
print(nested_key['1']['name1'])

{'name1': 'rita'}
rita

In [36]:
#Tuples

In [37]:
#Create a n empty tuple >>Cannot perform item assignment
a = tuple()
type(a)

tuple

In [44]:
my_tuple = ('car1','car2','car3')
my_tuple

('car1', 'car2', 'car3')

In [46]:
my_tuple.count('car1')
my_tuple.index('car1')

0